.mainDiv mat-card{
    background-color: rgba(255, 245, 245, 80%);
    padding-top: 120px;
}

.mainDiv {
    background-image: url("../../../assets/original.gif");
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adoptionForm{
    padding: 20px;
}
.heading{
    justify-content: center;
}