.mainDiv mat-card{
    background-color: rgba(255, 245, 245, 80%);
    /* padding-top: 120px; */
    margin-top: 5%;
    margin-bottom: 5%;
}

.mainDiv {
    margin-top: 4%;
    background-image: url("../../../assets/original.gif");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adoptionForm{
    padding: 20px;
}
.heading{
    justify-content: center;
}
.adoptionForm{
    min-height: 100%;
}