.mainDiv mat-card{
    background-color: rgba(255, 245, 245, 80%);
    margin-top: 5%;
    margin-bottom: 5%;
}

.mainDiv {
    margin-top: 4%;
    background-image: url("../../../assets/original.gif");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.addressForm{
    padding: 20px;
}
.heading{
    justify-content: center;
}
.addressForm{
    min-height: 100%;

}