<!-- Footer -->
<footer class="page-footer font-small color pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

      </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" >
    <p>Contact Us:</p>
    <p id="contact">petWebz@gmail.com</p>
          Created by Team:<strong> SVARS </strong><br>
          °°°°
          <br>©2021 Pet-Webz. All rights reserved.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
