<div class="bg">
    <div class="adjust"></div>
    <div class="content hvr-buzz-out" id="div1">
        <h1> Feelings can only be felt.</h1>
        <h2> You can be someone's <strong>HERO</strong>.</h2> 
        <h3> Adopt a pet, save a life and you'll never see a gloomy night.</h3><!--strong>ADOPT US.</strong></h1>
        <h1><strong>WE NEED YOU HELP.</strong></h1>
        <p>Saving one <strong><i>pet</i></strong>  will not change the world, but surely for that one <strong><i>pet</i></strong>, the world will change forever.</p> -->
        <button mat-raised-button color="accent" (click)="findPetDetails()">FIND A PET TO ADOPT</button>
    </div>
</div>