.navbar{
    justify-content: space-between;
    background-color: rgb(66, 148, 148);
    padding-left: 10%;
    height: auto;

}
div.logo{
    color: #dc3545;
}
a{
    color: #dc3545;
}
.links{
    padding-right: 1rem;
}
.navbar-collapse{
    flex-grow: 0;
} 