.navbar{
    justify-content: space-between;
    /* background-color: #595971 !important; */
    background-color: #254117 !important;
    padding-left: 10%;
    height: 8%;
    font-family: 'Times New Roman', Times, serif;

}
strong{
    font-family: "Brush Script MT", cursive;
    font-size: xx-large;

}
a{
    font-size: x-large;
    
}
#logoutid{
    width: 150px;
    background-color: rgb(71, 55, 48,0%);
    /* font-family: 'Times New Roman', Times, serif; */
    height: 32px;
    font-size: 16px;
    text-align: center;
   
}
::placeholder{
    color: cyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   
}
.nav-link:hover {
    /* background-color: chartreuse;
    opacity: 0.5; */
    
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-property: box-shadow;
    box-shadow: 0px 0px 15px #254117;
    background-color: #055819
  }
 
.links{
    padding-right: 1rem;
}
.navbar-collapse{
    flex-grow: 0;
} 