  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <div fxLayoutAlign="center center" fxFlexFill class="mainDiv">
            <!-- <mat-card fxFlex="75"> -->
      <form [formGroup]="firstFormGroup" novalidate #adoptionForm="ngForm"
      (ngSubmit)="onSubmit(adoptionForm)" class="adoptionForm" fxLayoutAlign="stretch" fxLayout="column">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <!-- <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="adoptionForm.name" name="userName" formControlName="firstCtrl">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adhaar Number</mat-label>
            <input matInput [(ngModel)]="adoptionForm.adhaarNumber" name="adhaar" formControlName="secondCtrl">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" [(ngModel)]="adoptionForm.age" name="age" formControlName="thirdCtrl" >
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="tel" [(ngModel)]="adoptionForm.mobile" name="mobile" formControlName="fourthCtrl" >
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email Id</mat-label>
            <input matInput type="email" [(ngModel)]="adoptionForm.email" name="email" formControlName="fifthCtrl">
        </mat-form-field>
        <!-- [(ngModel)]="adoptionForm.petitionSigned" name="petetion" -->
        <mat-checkbox  formControlName="sixthCtrl">Petition</mat-checkbox>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    <!-- </mat-card> -->
    </div>
      <!-- <div fxLayoutAlign="center center" fxFlexFill class="mainDiv">
        <mat-card fxFlex="75">
            <mat-toolbar color="primary" class="heading">Adoption Form</mat-toolbar> -->
    
            <!-- <form fxLayoutAlign="stretch" fxLayout="column" novalidate #adoptionForm="ngForm"
                (ngSubmit)="onSubmit(adoptionForm)" class="adoptionForm" [formGroup]="firstFormGroup"> -->
                <!-- <form novalidate #adoptionForm="ngForm"
                (ngSubmit)="onSubmit(adoptionForm)" class="adoptionForm" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="adoptionForm.name" name="userName" formControlName="firstCtrl">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Adhaar Number</mat-label>
                    <input matInput [(ngModel)]="adoptionForm.adhaarNumber" name="adhaar" >
                </mat-form-field>
          
                <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" [(ngModel)]="adoptionForm.age" name="age"  >
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="tel" [(ngModel)]="adoptionForm.mobile" name="mobile"  >
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Email Id</mat-label>
                    <input matInput type="email" [(ngModel)]="adoptionForm.email" name="email" >
                </mat-form-field>
                [(ngModel)]="adoptionForm.petitionSigned" name="petetion"
                <mat-checkbox  >Petition</mat-checkbox>
             
            
                <button mat-raised-button type="submit" color="primary">Next</button>
    
            </form> -->
        <!-- </mat-card>
    </div> -->
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
