<!-- <app-image-upload></app-image-upload>
<mat-accordion class="example-headers-align" >
    <mat-expansion-panel *ngFor="let item of collection" >
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-card class="image">{{item.image}}</mat-card>
            </mat-panel-title>
            <mat-panel-description>
                <p>{{item.animal}}</p>
                <p>{{item.breed}}</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h5>{{item.gender}}</h5>
        <h5>{{item.location}}</h5>
        <p>{{item.details}}</p>
        <mat-action-row>
            <button mat-button color="primary" (click)="adopt()">Adopt</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion> -->
<!-- <div class="a" fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh"> -->
<!-- content here -->
<div class="filter">
    <strong>Filter:</strong>
    <!-- <select [(ngModel)]="selectedAnimal" ng-options= "item for item in animalName" ng-multiple = "true" ></select> -->
    <mat-form-field appearance="outline">
        <mat-label>Animal</mat-label>
        <mat-select [(ngModel)]="selectedAnimal" (selectionChange)="valueSelected($event)   " multiple>
          <mat-option *ngFor="let item of animalName" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    <!-- <select [(ngModel)]="selectedAnimal" (change)="valueSelected()" multiple >
        <option *ngFor="let item of animalName">
            <div style="display: inline-block;"><input type="checkbox" id="1" style="z-index: 6;"></div>
        </option> -->
    <!-- </select> -->
    <!-- City
    <select [(ngModel)]="selectedLocation" (change)="valueSelected1()" >
        <option *ngFor="let item  cityName"><label ><input type="checkbox">{{ item }}</label></option>
    </select>    -->
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedLocation" (selectionChange)="valueSelected1($event)" multiple>
          <mat-option *ngFor="let item of cityName"[value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="b" fxLayout="row wrap">
    <!-- card list here -->
    <div class="c" *ngFor="let item of collectionCopy" fxFlex="25" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100"
        fxLayout="column" style="padding: 20px;">
        <!-- material card here -->
        <mat-card class="hvr-grow">
            <img mat-card-image src="data:{{item.imageContentType}};base64,{{item.image}}" style="height: 230px  ; width: 110.8%;">
            <mat-card-title> {{ item.animal }} </mat-card-title>
            <!-- <mat-card-subtitle> {{ item.breed }} </mat-card-subtitle> -->
            <mat-card-content> {{item.gender}} </mat-card-content>
            <mat-card-content> {{item.city}} </mat-card-content>
            <mat-card-content> {{item.details}} </mat-card-content>
            <mat-card-actions *ngIf="userId != null">
               <!-- <button mat-flat-button color="primary" [routerLink]="['/update',item.id]" class="btn1">Update</button> &nbsp;&nbsp; -->
               <button mat-flat-button color="primary" [routerLink]="['/update',item.id]" class="btn1"><mat-icon>launch</mat-icon></button> 
               <!-- <button mat-flat-button color="primary" (click)="deletePetDetails(item.id)" class="btn1">Delete</button> -->
               <button mat-flat-button color="warn" (click)="deleteConfirmation(item.id)" class="btn1"><mat-icon>delete_outline</mat-icon></button>
            </mat-card-actions> 
            <mat-card-footer *ngIf="userId == null">
                <!-- <button fxFlex mat-flat-button color="primary" (click)="adopt(item.id)" class="btn">Adopt</button> -->
                <!-- <mat-card-actions *ngIf="userId == null"> -->
                    <button fxFlex mat-flat-button color="primary" [routerLink]="['/adopt', item.id]" class="btn">Adopt</button>
                <!-- </mat-card-actions> -->
            </mat-card-footer>   
        </mat-card>

    </div>
</div>
<!-- </div> -->