/* .btn{
    margin:0px 5px;
} */
.b{
    padding-top:10px ;
}
.filter{
    
    padding-top: 70px;
    display: inline-block;
    margin-left: 70%;

   
}
mat-form-field{
    
    padding-left: 8px;
}

.btn1 {
    width: 150px;
}

mat-card{
    height: auto ;
    width :auto;
    text-align: center;
    background-color: rgba(134, 111, 153, 0.205);

/* mat-card{
    width: auto;
    height: auto;
    border: 1px solid rgb(158, 235, 158);
}

.hvr-grow {

    display:inline-block;
     /* display: ; */
    vertical-align: middle; 
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
