<div fxLayoutAlign="center center" fxFlexFill class="mainDiv">
  <mat-card fxFlex="50">
    <mat-toolbar color="primary" class="heading">Update the form</mat-toolbar>

    <form fxLayoutAlign="stretch" fxLayout="column" class="postForm" novalidate [formGroup]="postForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Animal</mat-label>
        <input matInput formControlName="animal">
        <mat-error *ngIf="animal.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
     
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender">
        <mat-error *ngIf="gender.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
        <mat-error *ngIf="city.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Details</mat-label>
        <input matInput formControlName="details">
        <mat-error *ngIf="details.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>


      <button mat-raised-button type="submit" color="primary" [disabled]="!postForm.valid">Update</button>
    </form>

  </mat-card>
</div>
