<div class="loginPage"> 
<div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong> Login Failed!!</strong> You have entered wrong credentials. Please try again.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
<div fxLayoutAlign="center center"  fxFlexFill class="mainDiv">

    <mat-card fxFlex="33">
        <div class="cattygif"></div>

        <mat-toolbar color="primary" class="heading">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="loginForm" novalidate #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)">
            
            <mat-form-field appearance="fill">
                <mat-label>Username or Email ID</mat-label>
                <input matInput name="emailId" #emailId="ngModel" ngModel required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">username or email id is required</mat-error>
            </mat-form-field >

            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" #password="ngModel" ngModel required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Login</button>
        </form>

    </mat-card>
</div>
</div>