.mainDiv mat-card{
    background-color: rgba(255, 245, 245, 0%);
    display: block;
    box-shadow: 0.5px 0.5px 4px 4px  black;
}

.mainDiv{
    
    /* margin-bottom: 9000px; */
    background-image: url("../../../assets/art4.jpg");
    /* height: 5000px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.loginForm{
    padding: 20px;
}

.heading{
    justify-content: center;
    position: relative;
    z-index: 1;
}

button{
    margin-top : 1rem;
}
.cattygif{
    background-image: url("../../../assets/catty.gif") !important;
    display: block;
    width:70%;
    height: 250px;
    background-position: center;
    transform: translate(22%,20%);
    /* animation-name: stop; */
    
    
}
.stop{
    animation-duration:1s;
}
.loginPage{
    height: 117%;
}
mat-form-field{
    background-color: rgba(255, 245, 245, 40%);
    
}
