/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0;
         /* background-color: #8267541a; */
    /* background-color: rgb(25, 31, 49) !important; */
    background-color: #a7cf9d !important;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


snack-bar-container.success{
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-conatiner.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
}