<!-- <p>post-edit-delete-page works!</p> -->
<!-- <div fxLayoutAlign="center center" fxFlexFill class="mainDiv">
    <mat-card fxFlex="50">
      <mat-toolbar color="primary" class="heading">Fill the form</mat-toolbar>
  
      <form fxLayoutAlign="stretch" fxLayout="column" class="postForm" novalidate [formGroup]="postForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Animal</mat-label>
          <input matInput formControlName="animal">
          <mat-error *ngIf="animal.hasError('required')">You must enter a value</mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Breed</mat-label>
          <input matInput formControlName="breed">
        </mat-form-field> -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput formControlName="gender">
          <mat-error *ngIf="gender.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input matInput formControlName="city">
          <mat-error *ngIf="city.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>
  
  
        <mat-form-field appearance="fill">
          <mat-label>Details</mat-label>
          <input matInput formControlName="details">
          <mat-error *ngIf="details.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Adotion Status</mat-label>
            <input matInput formControlName="adopted">
            <mat-error *ngIf="adopted.hasError('required')">You must enter a value</mat-error>
          </mat-form-field> -->
  
        <!-- <mat-form-field>
          <div>
            <mat-toolbar>
   -->
              <!-- Display files names -->
              <!-- <input matInput [(value)]="fileAttr" readonly name="name" /> -->
  
              <!-- Browse Button -->
              <!-- <button mat-flat-button color="primary"> -->
                <!-- Browse File -->
              <!-- </button> -->
            <!-- </mat-toolbar> -->
  
            <!-- Fetch selected filed on change -->
            <!-- <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" -->
              <!-- accept="image/*" /> -->
          <!-- </div> -->
        <!-- </mat-form-field> -->
  
        <!-- <button mat-raised-button type="submit" color="primary" [disabled]="!postForm.valid && !fileInput.valid">Edit</button>
      </form>
  
    </mat-card>
  </div>

<h3>Pet Details</h3>
<table>
  <tr>
    <th> Id</th>
    <th>Animal</th>
    <th>Gender</th>
    <th>City</th>
    <th>Details</th>
    <th>Adoption Satus</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let pet of allPets">
    <td>{{pet.id}}</td>
    <td>{{pet.animal}}</td>
    <td>{{pet.gender}}</td>
    <td>{{pet.city}}</td>
    <td>{{pet.details}}</td>
    <td>{{pet.adopted}}</td>

    <td>
      <button type="button" (click)="loadPetToEdit(pet.id)">Edit</button>
    </td>
    <td>
      <button type="button" (click)="deletePetDetails(pet.id)">Delete</button>
    </td>
  </tr>
</table>  -->